body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
}


nav {
    background-color: rgb(34, 29, 29);
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center; 
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;

}








main p {
    width: 400px;
    padding: 1.5rem;
    margin: 1rem 2rem;
    background-color: aqua;
    color: black;
    border: 1px solid gray;

}