
body {
   font-family: Arial, Helvetica, sans-serif;
   width: 100%;
   align-items: center;
   float: left;
}

nav {
    background-color: black;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
 nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    display: inline;
 }
 h1{
    color: darkblue;
    padding-top: 20px;
    
 }



 main {
max-width: 400px;
margin: 0 auto;



 }


 main img {
    width: 20%;
    height: 10%;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px purple;
    box-sizing: border-box;
 }
 p {
    padding: 0px;
 }
 .p1 {
    background-color: black;
    color: white;
 }

 aside {
   max-width: 400px;
   margin: 0 auto;
   padding: 10px;
   border: 1px solid rgb(0 0 0 /  0.2);
   background-color: rgb(248, 241, 248);
   color: black;
   
   
 }
 aside img {
   width: 200px;
   height: auto;
 }

 footer {
   margin-top: 10px;
   border-top: 1px solid rgb(0 0 0 /  0.2);
   text-align: center;
   background-color: black;
   color: white;
   padding: 0.5px;
 }