nav {
    background-color: black;
    padding: 10px;
}
 nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    display: inline;
 }
 h1{
    color: darkblue;
 }
 main img {
    width: 20%;
    height: 10%;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px purple;
    box-sizing: border-box;
 }
 p {
    padding: 0px;
 }
 .p1 {
    background-color: black;
    color: white;
 }

 aside {
   width: 840px;
   margin: 10px;
   padding: 10px;
   border: 1px solid rgb(0 0 0 /  0.2);
   background-color: rgb(248, 241, 248);
   color: darkblue;
   text-align: center;
   
 }
 aside img {
   width: 200px;
   height: auto;
 }

 footer {
   margin-top: 10px;
   border-top: 1px solid rgb(0 0 0 /  0.2);
   padding: 2px;
   text-align: center;
 }