*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    text-align: center;
}


header {
    
    background-color: black;
    color: white;
    font-size: 2em;
    padding: 1rem 0rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

:root {
    
}

main {
    height: var(--main-height);
    max-width: 800px;
    margin: 0  auto;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    display: block;
    margin-top: 3.5em;
    
    


}

main h1 {
    font-size: 45px;
    padding: 1rem 0rem 0rem 0rem;
}



main picture img {
    width: 60%;
    margin: 1rem;
    box-shadow: 0 0 30px green;
}

main section {
    width: 470px;
    padding: 1rem;
    margin: 0 auto;
    background-color: rgb(211, 207, 207);
    color: black;
    text-align: left;
    border-bottom:  1em solid white;
}

main section h2 {
    border-bottom: 1px solid black;
    padding: 0rem 0rem 1rem;

}


main section p {
    max-width: 350px;
    padding: 1em;
    line-height: 1.5rem;
}

main section ul  {
    max-width: 350px;
    padding: 1.5em;
    line-height: 1.5rem;
}

footer {
    background-color: black;
    padding: 1em 0;
    color: white;
    font-size: 1.5em;
}
