* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    min-height: 100vh;
    display: block;
    justify-content: center;
    text-align: center;
    padding: 20x;
}

header { 
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    padding: 0.5em;
    overflow: hidden;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}


main {
   margin-top: 50px;
    padding: 20px;
   overflow: hidden;
    text-align: center;
}

main h1 {
    font-size: 2.8rem;
    padding: 10px;
    text-align: center;
}

main picture  img  {
    width: 500px;
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 30px green;
    margin: 10px;
}


main section {
    background-color: rgb(211, 211, 211);
    color: black;
    text-align: left;
   margin: 10px 387px;
   height: 200px;

}

main section h2 {
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid black;
    margin: 0px 15px;
}


main section p {
max-width: 70%;
font-size: 17px;
margin-left: 20px;
padding: 10px;

}

main section ul {
    max-width: 70%;
    font-size: 17px;
    margin-left: 26px;
    padding: 10px;
}

footer {
    color: white;
    background-color: black;
    padding: 1rem 0rem;
    
}

